<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin_fragments::head"></head>

<body>
<!-- navbar Start -->
<div th:replace="admin_fragments::navbar"></div>
<!-- navbar End -->

<div id="layoutSidenav">
    <!-- menu Start -->
    <div id="layoutSidenav_nav" th:replace="admin_fragments::menu"></div>
    <!-- menu End -->

    <div id="layoutSidenav_content">
        <!-- Content Start -->
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4 title-admin">Create Media</h1>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Create a new media

                        <a th:href="@{/admin/media}" type="button" class="btn btn-primary"
                           style="float: right">back list <</a>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/admin/media/create/save}" th:object="${mediaDTO}" method="post" enctype="multipart/form-data">
                            <div class="form-floating mb-3">
                                <div class="col-sm-10">
                                    <input class="form-control" type="file" id="Thumbnail"
                                           required name="logo">
                                </div>
                            </div>

                            <div class="form-floating mb-3">
                                <input class="form-control" id="Title" name="title" type="text"
                                       placeholder="Title" required />
                                <label for="Title">Title</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input class="form-control" id="Description" name="description" type="text"
                                       placeholder="Description" required />
                                <label for="Description">Description</label>
                            </div>

                            <div class="form-floating mb-3">
                                <select class="form-select" id="Country" name="country_id" th:field="*{countryId}"
                                        aria-label="Country Id" required>
                                    <option value="" selected>-- choose option --</option>
                                    <option th:each="country : ${countries}" th:value="${country.id}"
                                            th:text="${country.id}"></option>
                                </select>
                                <label for="Country">Country</label>
                            </div>

                            <div class="form-floating mb-3">
                                <select class="form-control" id="exampleSelect" name="type" required>
                                    <option value="" selected>-- choose type --</option>
                                    <option value="1">Movie Series</option>
                                    <option value="2">Movie</option>
                                    <option value="3">Video</option>
                                </select>
                                <label>Type</label>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                <button type="submit" class="btn btn-success">Create</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
        <!-- Content End -->

        <!-- footer Start -->
        <footer th:replace="admin_fragments::footer" class="py-4 bg-light mt-auto"></footer>
        <!-- footer End -->
    </div>
</div>

<div th:replace="admin_fragments::script"></div>


</body>

</html>
