<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin_fragments::head"></head>

<body>
<!-- navbar Start -->
<div th:replace="admin_fragments::navbar"></div>
<!-- navbar End -->

<div id="layoutSidenav">
    <!-- menu Start -->
    <div id="layoutSidenav_nav" th:replace="admin_fragments::menu"></div>
    <!-- menu End -->

    <div id="layoutSidenav_content">
        <!-- Content Start -->
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4 title-admin">Create Media Category</h1>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Create a new media category
                        <a th:href="@{/admin/mediacategories}" type="button" class="btn btn-primary"
                           style="float: right">back list <</a>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/admin/mediacategory/create/save}" th:object="${mcDTO}"
                              method="post">
                            <div class="form-floating mb-3">
                                <select class="form-control" id="mediaId" th:field="*{media_id}">
                                    <option value="" selected>-- choose media --</option>
                                    <option th:each="media : ${media1}" th:value="${media.id}" th:if="${media.status == 1}">
                                        <span th:if="${media.type eq 1}">Movie Series</span>
                                        <span th:if="${media.type eq 2}">Movie</span>
                                        <span th:if="${media.type eq 3}">Video</span>
                                    </option>
                                </select>
                                <label for="mediaId">Media</label>
                            </div>

                            <div class="form-floating mb-3">
                                <select class="form-control" id="categoryId" th:field="*{category_id}">
                                    <option value="" selected>-- choose media --</option>
                                    <option th:each="cate : ${categories}" th:value="${cate.id}" th:if="${cate.status == 1}" th:text="${cate.name}">
                                    </option>
                                </select>
                                <label for="categoryId">Category</label>
                            </div>

                            <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                <button type="submit" class="btn btn-success">Create</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
        <!-- Content End -->

        <!-- footer Start -->
        <footer th:replace="admin_fragments::footer" class="py-4 bg-light mt-auto"></footer>
        <!-- footer End -->
    </div>
</div>

<div th:replace="admin_fragments::script"></div>

</body>

</html>
