<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin_fragments::head"></head>

<body>
<!-- navbar Start -->
<div th:replace="admin_fragments::navbar"></div>
<!-- navbar End -->

<div id="layoutSidenav">
    <!-- menu Start -->
    <div id="layoutSidenav_nav" th:replace="admin_fragments::menu"></div>
    <!-- menu End -->

    <div id="layoutSidenav_content">
        <!-- Content Start -->
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4 title-admin" th:if="${categoryDTO.id != null}">Update Category</h1>
                <h1 class="mt-4 title-admin" th:if="${categoryDTO.id == null}">Create Category</h1>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        <span th:if="${categoryDTO.id != null}">Update category data</span>
                        <span th:if="${categoryDTO.id == null}">Create a new category</span>

                        <a th:href="@{/admin/categories}">
                            <button type="button" class="btn btn-primary" style="float: right">Back to List</button>
                        </a>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/admin/category/save}" th:object="${categoryDTO}" method="post">
                            <input type="hidden" th:field="*{id}"/>

                            <!-- Form fields for update -->
                            <div class="form-floating mb-3">
                                <input class="form-control" th:field="*{name}" type="text" placeholder="Name" required />
                                <label>Name</label>
                            </div>
                            <div class="form-floating mb-3">
                                <select class="form-control" th:field="*{type}" required>
                                    <option value="" selected>-- choose type --</option>
                                    <option value="1" th:selected="${categoryDTO.type == 1}">film</option>
                                    <option value="2" th:selected="${categoryDTO.type == 2}">video</option>
                                </select>
                                <label>Type</label>
                            </div>
                            <div class="form-floating mb-3" th:if="${categoryDTO.id != null}">
                                <select class="form-control" th:field="*{status}" required>
                                    <option value="" selected>-- choose type --</option>
                                    <option value="0" th:selected="${categoryDTO.status == 0}">in-active</option>
                                    <option value="1" th:selected="${categoryDTO.status == 1}">active</option>
                                </select>
                                <label>Status</label>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                <button type="submit" class="btn btn-success"
                                        th:text="${(categoryDTO.id == null) ? 'Create' : 'Update'}"></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
        <!-- Content End -->

        <!-- footer Start -->
        <footer th:replace="admin_fragments::footer" class="py-4 bg-light mt-auto"></footer>
        <!-- footer End -->
    </div>
</div>

<div th:replace="admin_fragments::script"></div>

</body>

</html>
