<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin_fragments::head"></head>

<body>
<!-- navbar Start -->
<div th:replace="admin_fragments::navbar"></div>
<!-- navbar End -->

<div id="layoutSidenav">
    <!-- menu Start -->
    <div id="layoutSidenav_nav" th:replace="admin_fragments::menu"></div>
    <!-- menu End -->

    <div id="layoutSidenav_content">
      <!-- Content Start -->
      <main>
        <div class="container-fluid px-4">
          <h1 class="mt-4 title-admin">Media Details</h1>
          <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                List of media details

              <a th:href="@{/admin/mediadetail/create}">
                <button type="button" class="btn btn-primary" style="float: right">+ media detail</button>
              </a>

            </div>
            <div class="card-body">
              <table id="datatablesSimple">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Media Url</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody th:if="${mediadetails != null and #lists.size(mediadetails) > 0}">
                  <tr th:each="Mdetail, iterStat : ${mediadetails}" th:class="'mediadetail-' + ${Mdetail.id}">
                    <td th:text="${iterStat.index + 1}"></td>
                    <td><a th:href="${Mdetail.mediaUrl}" th:text="${Mdetail.mediaUrl}">Link</a></td>
                    <td th:text="${(Mdetail.type == 1 ) ? 'vod' : 'film'}"></td>
                    <td>
                      <span style="color: green">
                        <th:block th:if="${Mdetail.status == 1}">
                          active
                        </th:block>
                      </span>
                      <span style="color: red">
                        <th:block th:if="${Mdetail.status == 0}">
                          in-active
                        </th:block>
                      </span>
                    </td>
                    <td>
                      <button class="btn">
                        <a th:href="@{/admin/mediadetail/update/{id} (id=${Mdetail.id})}">
                          <i class="fas fa-pencil-alt"></i>
                        </a>
                      </button>
                      <button class="btn">
                        <a th:data-id="${Mdetail.id}" class="delete-btn">
                          <i class="fas fa-trash"></i>
                        </a>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </main>
      <!-- Content End -->

      <!-- footer Start -->
      <footer th:replace="admin_fragments::footer" class="py-4 bg-light mt-auto"></footer>
      <!-- footer End -->
    </div>
</div>


<div th:replace="admin_fragments::script">
  <script>
    $('.delete-btn').click(function () {
      var id = $(this).attr('data-id');
      var newRow = $('.mediadetail-' + id);
      Swal.fire({
        title: 'Are you sure you want to delete this item?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
      }).then((result) => {
        if (result.isConfirmed) {
          $.ajax({
            url: "/admin/mediadetail/delete/" + id,
            success: function () {
              newRow.remove();
              Swal.fire(
                  'Success',
                  'Delete success',
                  'success'
              );
            }
          })
        }
      })
    })
  </script>
</div>

</body>

</html>
