<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin_fragments::head"></head>

<style>
  .popup {
    display: none;
    position: fixed;
    top: 51%;
    left: 55%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    width: 40%;
  }

  .popup-content {
    margin: 0 auto;
  }

  .close {
    float: right;
    font-size: 20px;
    cursor: pointer;
  }

  .btn {
    cursor: pointer;
  }

</style>
<body>
<!-- navbar Start -->
<div th:replace="admin_fragments::navbar"></div>
<!-- navbar End -->

<div id="layoutSidenav">
    <!-- menu Start -->
    <div id="layoutSidenav_nav" th:replace="admin_fragments::menu"></div>
    <!-- menu End -->

    <div id="layoutSidenav_content">
      <!-- Content Start -->
      <main>
        <div class="container-fluid px-4">
          <h1 class="mt-4 title-admin">Media Details</h1>
          <!--        search-->
          <div class="row g-4 align-items-center">
            <div class="col-12">
              <div class="input-group">
                <form th:action="@{/admin/media-details}" method="get">
                  <label><input placeholder="Title Media" class="form-control" type="text" name="title" th:value="${title}" /></label>
                  <label><input placeholder="Episode" class="form-control" type="number" name="episode" th:value="${episode}" /></label>
                  <label>
                    <select class="form-control" name="quality">
                      <option value="" selected>Choose Type</option>
                      <option value="2D">2D</option>
                      <option value="3D">3D</option>
                      <option value="4D">4D</option>
                      <option value="2K">2K</option>
                      <option value="4K">4K</option>
                      <option value="8K">8K</option>
                    </select>
                  </label>
                  <label>
                    <select class="form-control" name="status">
                      <option value="" selected>Choose Status</option>
                      <option value="1">Active</option>
                      <option value="0">In-active</option>
                    </select>
                  </label>
                  <button class="btn btn-primary" type="submit">Search</button>
                </form>
              </div>
            </div>

          </div>
          <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                List of media details

              <a th:href="@{/admin/media-detail/create}">
                <button type="button" class="btn btn-primary" style="float: right">+ media detail</button>
              </a>
            </div>
            <div class="card-body">
              <table class="datatable-table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Media</th>
                    <th>Media Url</th>
                    <th>Episode</th>
                    <th>Evaluate</th>
                    <th>Duration</th>
                    <th>Quantity</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody th:if="${mediaDetails != null and #lists.size(mediaDetails) > 0}">
                  <tr th:each="mediaDetail, iterStat : ${mediaDetails}" th:class="'media-detail-' + ${mediaDetail.id}">
                    <td th:text="${iterStat.index + 1}"></td>
                    <td th:text="${mediaDetail.media.title}"></td>
                    <td><a th:href="${mediaDetail.sourceUrl}">Source</a></td>
                    <td th:text="(${mediaDetail.episode}) ? 'Episode ' + ${mediaDetail.episode} : ''"></td>
                    <td>
                      <span style="color: gold" th:utext="${'&#9733;'.repeat(mediaDetail.rate)}"></span>
                    </td>
                    <td th:text="${mediaDetail.duration}"></td>
                    <td th:text="${mediaDetail.quality}"></td>
                    <td>
                      <span style="color: green">
                        <th:block th:if="${mediaDetail.status == 1}">
                          active
                        </th:block>
                      </span>
                      <span style="color: red">
                        <th:block th:if="${mediaDetail.status == 0}">
                          in-active
                        </th:block>
                      </span>
                    </td>
                    <td>
                      <button class="btn">
                        <a th:href="@{/admin/media-detail/update/{id} (id=${mediaDetail.id})}">
                          <i class="fas fa-pencil-alt"></i>
                        </a>
                      </button>
                      <button class="btn">
                        <a th:data-id="${mediaDetail.id}" class="delete-btn">
                          <i class="fas fa-trash"></i>
                        </a>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>

              <!--               phan trang-->
              <div th:if = "${totalPages > 1}">
                <div class = "row col-sm-12">
                  <div class = "col-sm-2">
                    Total Rows: [[${totalItems}]]
                  </div>
                  <!--danh sach cac trang-->
                  <div class = "col-sm-10">
                      <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                          <a th:if="${currentPage != i}"
                             th:href="@{'/admin/media-detail/' + ${i}(title=${title}, quality=${quality} , episode=${episode} ,status=${status})}"
                             style="color: #666666; text-decoration: none">[[${i}]]</a>
                          <span th:unless="${currentPage != i}"
                                style="color: #ca0f33; text-decoration: underline">[[${i}]]</span> &nbsp;
                      </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <!-- Content End -->

      <!-- footer Start -->
      <footer th:replace="admin_fragments::footer" class="py-4 bg-light mt-auto"></footer>
      <!-- footer End -->
    </div>
</div>


<div th:replace="admin_fragments::script"></div>

<script>
  $('.delete-btn').click(function () {
    var id = $(this).attr('data-id');
    var newRow = $('.media-detail-' + id);
    Swal.fire({
      title: 'Are you sure you want to delete this item?',
      text: "You won't be able to revert this!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, delete it!'
    }).then((result) => {
      if (result.isConfirmed) {
        $.ajax({
          url: "/admin/media-detail/delete/" + id,
          success: function () {
            newRow.remove();
            Swal.fire(
                    'Success',
                    'Delete success',
                    'success'
            );
          }
        })
      }
    })
  })
</script>

</body>

</html>
