<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="user_fragments::head"></head>

<body>
<!-- header Start -->
<header th:replace="user_fragments::header" class="header" data-header></header>
<!-- header End -->

<main>
    <article>
        <!-- content-->
        <div class="fix-bg-search">
            <section class="upcoming">
                <div class="container">
                    <h2 class="h2 search-result" th:if="${searchTitle != null}">
                        Search results for
                        <span style="display: inline-flex; font-weight: bold; color: rgb(226, 215, 3)"
                                                 th:text="'&quot;' + ${searchTitle} + '&quot;'"></span>
                    </h2>
                </div>

                <!--movies-->
                <div class="container">
                    <div class="align-content-center">
                        <p class="section-subtitle">Online Streaming</p>

                        <h2 class="h2 section-title" style="margin-bottom: 7vh; font-size: 40px;">
                            Movies
                        </h2>
                    </div>

                    <ul class="movies-list has-scrollbar">
                        <li th:each="searchResult : ${searchResults}" th:if="${searchResult.type == 1 or searchResult.type == 2}">
                            <div class="movie-card">
                                <a th:href="@{/movie/detail/{mediaId} (mediaId=${searchResult.id})}">
                                    <figure class="card-banner">
                                        <img th:src="@{${searchResult.getThumbnail()}}">
                                    </figure>
                                </a>

                                <div class="title-wrapper">
                                    <a th:href="@{/movie/detail/{mediaId} (mediaId=${searchResult.id})}">
                                        <h3 class="card-title" th:text="${searchResult.getTitle()}"></h3>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <!--videos-->
                <div class="container">
                    <div class="align-content-center">
                        <p class="section-subtitle">Online Streaming</p>

                        <h2 class="h2 section-title" style="margin-bottom: 7vh; font-size: 40px;">
                            Videos
                        </h2>
                    </div>

                    <ul class="movies-list has-scrollbar">
                        <li th:each="searchResult : ${searchResults}" th:if="${searchResult.type == 3}">
                            <div class="movie-card">
                                <a th:href="@{/video/detail/{mediaId} (mediaId=${searchResult.id})}">
                                    <figure class="card-banner" style="aspect-ratio: 5/3">
                                        <img th:src="@{${searchResult.getThumbnail()}}">
                                    </figure>
                                </a>

                                <div class="title-wrapper">
                                    <a th:href="@{/video/detail/{mediaId} (mediaId=${searchResult.id})}">
                                        <h3 class="card-title" th:text="${searchResult.getTitle()}"></h3>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <!-- end content-->

        <!-- contact -->
        <section class="cta" th:replace="user_fragments::contact"></section>
    </article>
</main>

<footer class="footer" th:replace="user_fragments::footer"></footer>

<a th:replace="user_fragments::back-to-top"></a>

<div th:replace="user_fragments::script"></div>

</body>

</html>
