<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="user_fragments::head"></head>

<body>
<!-- header Start -->
<header th:replace="user_fragments::header" class="header" data-header></header>
<!-- header End -->

<main>
    <article>
        <!-- content-->
        <section class="movie-detail">
            <div class="container">
                <figure class="movie-detail-banner">

<!--                    <img th:href="${mediaDetails.th}" alt="Free guy movie poster">-->
                    <img alt="Free guy movie poster" style="max-width: 450px; max-height: 450px" th:src="@{${thumbnail}}">

                    <button class="play-btn">
                        <ion-icon name="play-circle-outline"></ion-icon>
                    </button>

                </figure>

                <div class="movie-detail-content">

                    <p class="detail-subtitle" th:text="'Episode '+${episode}"></p>

                    <h3 class="h1 detail-title" th:text="${title}">
<!--                        Free <strong>Guy</strong>-->
<!--                        <span th:text="${title}"></span>-->
                    </h3>

                    <div class="meta-wrapper">

                        <div class="badge-wrapper">
                            <div class="badge badge-fill">12 +</div>

                            <div class="badge badge-outline" th:text="${quality}">HD</div>
                        </div>

<!--                        <div class="ganre-wrapper">-->
<!--                            <a th:text="${categoryName}"></a>-->
<!--                            <a th:text="${categoryName}"></a>-->
<!--                            <a th:text="${categoryName}"></a>-->
<!--                        </div>-->
                        <div class="ganre-wrapper">
                            <h2  style="color:var(--citrine); font-weight: bold">Type</h2>
                            <a th:each="mediaDetail : ${mediaDetails}" th:text="${categoryName}"></a>
                        </div>
                        <div class="ganre-wrapper">
                            <h2  style="color:var(--citrine); font-weight: bold">Cast</h2>
                            <a th:each="mediaDetail : ${mediaDetails}" th:text="${castFullname}"></a>
                        </div>

                        <div class="date-time">

                            <div>
                                <ion-icon name="earth-outline"></ion-icon>

                                <span th:text="${countryName}"/>
                            </div>

                            <div>
                                <ion-icon name="time-outline"></ion-icon>

                                <time th:text="${duration}"></time>
                            </div>

                        </div>

                    </div>

                    <p th:text="${mediaDescription}" class="storyline"/>

                    <div class="details-actions">

                        <button class="share">
                            <ion-icon name="share-social"></ion-icon>

                            <span>Share</span>
                        </button>

                        <div class="title-wrapper">
                            <p class="title">Prime Video</p>

                            <p class="text">Streaming Channels</p>
                        </div>

                        <button class="btn btn-primary">
                            <ion-icon name="play"></ion-icon>

                            <span>Watch Now</span>
                        </button>

                    </div>

                    <a href="./assets/images/movie-4.png" download class="download-btn">
                        <span>Download</span>

                        <ion-icon name="download-outline"></ion-icon>
                    </a>

                </div>
            </div>
        </section>

        <!-- end content-->
        <section class="top-rated tv-series" style="padding-top: 50px; padding-bottom: 150px">
            <div class="container">

                <p class="section-subtitle">BEST TV SERIES</p>

                <h2 class="h2 section-title">World Best TV Series</h2>

                <ul class="filter-list">

                    <li>
                        <button class="filter-btn" onclick="changeTabTopRate('moviesRateTab', this)">Episodes</button>
                    </li>

                    <li>
                        <button class="filter-btn" onclick="changeTabTopRate('videosRateTab', this)">Similar</button>
                    </li>

                </ul>

                <ul class="movies-list movies-rate-tab">
                    <li>
                        <div class="movie-card">

                            <a href="./movie-details.html">
                                <figure class="card-banner">
                                    <img src="./assets/images/upcoming-1.png" alt="The Northman movie poster">
                                </figure>
                            </a>

                            <div class="title-wrapper">
                                <a href="./movie-details.html">
                                    <h3 class="card-title">The Northman</h3>
                                </a>

                                <div class="badge badge-outline">HD</div>
                            </div>

                            <div class="card-meta">
                                <div class="duration">
                                    <ion-icon name="time-outline"></ion-icon>

                                    <time datetime="PT137M">137 min</time>
                                </div>

                                <div class="rating">
                                    <ion-icon name="star"></ion-icon>

                                    <data>8.5</data>
                                </div>
                            </div>

                        </div>
                    </li>

                    <li>
                        <div class="movie-card">

                            <a href="./movie-details.html">
                                <figure class="card-banner">
                                    <img src="./assets/images/upcoming-1.png" alt="The Northman movie poster">
                                </figure>
                            </a>

                            <div class="title-wrapper">
                                <a href="./movie-details.html">
                                    <h3 class="card-title">The Northman</h3>
                                </a>

                                <div class="badge badge-outline">HD</div>
                            </div>

                            <div class="card-meta">
                                <div class="duration">
                                    <ion-icon name="time-outline"></ion-icon>

                                    <time datetime="PT137M">137 min</time>
                                </div>

                                <div class="rating">
                                    <ion-icon name="star"></ion-icon>

                                    <data>8.5</data>
                                </div>
                            </div>

                        </div>
                    </li>

                    <li>
                        <div class="movie-card">

                            <a href="./movie-details.html">
                                <figure class="card-banner">
                                    <img src="./assets/images/upcoming-1.png" alt="The Northman movie poster">
                                </figure>
                            </a>

                            <div class="title-wrapper">
                                <a href="./movie-details.html">
                                    <h3 class="card-title">The Northman</h3>
                                </a>

                                <div class="badge badge-outline">HD</div>
                            </div>

                            <div class="card-meta">
                                <div class="duration">
                                    <ion-icon name="time-outline"></ion-icon>

                                    <time datetime="PT137M">137 min</time>
                                </div>

                                <div class="rating">
                                    <ion-icon name="star"></ion-icon>

                                    <data>8.5</data>
                                </div>
                            </div>

                        </div>
                    </li>

                    <li>
                        <div class="movie-card">

                            <a href="./movie-details.html">
                                <figure class="card-banner">
                                    <img src="./assets/images/upcoming-1.png" alt="The Northman movie poster">
                                </figure>
                            </a>

                            <div class="title-wrapper">
                                <a href="./movie-details.html">
                                    <h3 class="card-title">The Northman</h3>
                                </a>

                                <div class="badge badge-outline">HD</div>
                            </div>

                            <div class="card-meta">
                                <div class="duration">
                                    <ion-icon name="time-outline"></ion-icon>

                                    <time datetime="PT137M">137 min</time>
                                </div>

                                <div class="rating">
                                    <ion-icon name="star"></ion-icon>

                                    <data>8.5</data>
                                </div>
                            </div>

                        </div>
                    </li>

                    <li>
                        <div class="movie-card">

                            <a href="./movie-details.html">
                                <figure class="card-banner">
                                    <img src="./assets/images/upcoming-1.png" alt="The Northman movie poster">
                                </figure>
                            </a>

                            <div class="title-wrapper">
                                <a href="./movie-details.html">
                                    <h3 class="card-title">The Northman</h3>
                                </a>

                                <div class="badge badge-outline">HD</div>
                            </div>

                            <div class="card-meta">
                                <div class="duration">
                                    <ion-icon name="time-outline"></ion-icon>

                                    <time datetime="PT137M">137 min</time>
                                </div>

                                <div class="rating">
                                    <ion-icon name="star"></ion-icon>

                                    <data>8.5</data>
                                </div>
                            </div>

                        </div>
                    </li>

                    <li>
                        <div class="movie-card">

                            <a href="./movie-details.html">
                                <figure class="card-banner">
                                    <img src="./assets/images/upcoming-1.png" alt="The Northman movie poster">
                                </figure>
                            </a>

                            <div class="title-wrapper">
                                <a href="./movie-details.html">
                                    <h3 class="card-title">The Northman</h3>
                                </a>

                                <div class="badge badge-outline">HD</div>
                            </div>

                            <div class="card-meta">
                                <div class="duration">
                                    <ion-icon name="time-outline"></ion-icon>

                                    <time datetime="PT137M">137 min</time>
                                </div>

                                <div class="rating">
                                    <ion-icon name="star"></ion-icon>

                                    <data>8.5</data>
                                </div>
                            </div>

                        </div>
                    </li>

                    <li>
                        <div class="movie-card">

                            <a href="./movie-details.html">
                                <figure class="card-banner">
                                    <img src="./assets/images/upcoming-1.png" alt="The Northman movie poster">
                                </figure>
                            </a>

                            <div class="title-wrapper">
                                <a href="./movie-details.html">
                                    <h3 class="card-title">The Northman</h3>
                                </a>

                                <div class="badge badge-outline">HD</div>
                            </div>

                            <div class="card-meta">
                                <div class="duration">
                                    <ion-icon name="time-outline"></ion-icon>

                                    <time datetime="PT137M">137 min</time>
                                </div>

                                <div class="rating">
                                    <ion-icon name="star"></ion-icon>

                                    <data>8.5</data>
                                </div>
                            </div>

                        </div>
                    </li>

                    <li>
                        <div class="movie-card">

                            <a href="./movie-details.html">
                                <figure class="card-banner">
                                    <img src="./assets/images/upcoming-1.png" alt="The Northman movie poster">
                                </figure>
                            </a>

                            <div class="title-wrapper">
                                <a href="./movie-details.html">
                                    <h3 class="card-title">The Northman</h3>
                                </a>

                                <div class="badge badge-outline">HD</div>
                            </div>

                            <div class="card-meta">
                                <div class="duration">
                                    <ion-icon name="time-outline"></ion-icon>

                                    <time datetime="PT137M">137 min</time>
                                </div>

                                <div class="rating">
                                    <ion-icon name="star"></ion-icon>

                                    <data>8.5</data>
                                </div>
                            </div>

                        </div>
                    </li>

                    <li>
                        <div class="movie-card">

                            <a href="./movie-details.html">
                                <figure class="card-banner">
                                    <img src="./assets/images/upcoming-1.png" alt="The Northman movie poster">
                                </figure>
                            </a>

                            <div class="title-wrapper">
                                <a href="./movie-details.html">
                                    <h3 class="card-title">The Northman</h3>
                                </a>

                                <div class="badge badge-outline">HD</div>
                            </div>

                            <div class="card-meta">
                                <div class="duration">
                                    <ion-icon name="time-outline"></ion-icon>

                                    <time datetime="PT137M">137 min</time>
                                </div>

                                <div class="rating">
                                    <ion-icon name="star"></ion-icon>

                                    <data>8.5</data>
                                </div>
                            </div>

                        </div>
                    </li>

                    <li>
                        <div class="movie-card">

                            <a href="./movie-details.html">
                                <figure class="card-banner">
                                    <img src="./assets/images/upcoming-1.png" alt="The Northman movie poster">
                                </figure>
                            </a>

                            <div class="title-wrapper">
                                <a href="./movie-details.html">
                                    <h3 class="card-title">The Northman</h3>
                                </a>

                                <div class="badge badge-outline">HD</div>
                            </div>

                            <div class="card-meta">
                                <div class="duration">
                                    <ion-icon name="time-outline"></ion-icon>

                                    <time datetime="PT137M">137 min</time>
                                </div>

                                <div class="rating">
                                    <ion-icon name="star"></ion-icon>

                                    <data>8.5</data>
                                </div>
                            </div>

                        </div>
                    </li>

                    <li>
                        <div class="movie-card">

                            <a href="./movie-details.html">
                                <figure class="card-banner">
                                    <img src="./assets/images/upcoming-1.png" alt="The Northman movie poster">
                                </figure>
                            </a>

                            <div class="title-wrapper">
                                <a href="./movie-details.html">
                                    <h3 class="card-title">The Northman</h3>
                                </a>

                                <div class="badge badge-outline">HD</div>
                            </div>

                            <div class="card-meta">
                                <div class="duration">
                                    <ion-icon name="time-outline"></ion-icon>

                                    <time datetime="PT137M">137 min</time>
                                </div>

                                <div class="rating">
                                    <ion-icon name="star"></ion-icon>

                                    <data>8.5</data>
                                </div>
                            </div>

                        </div>
                    </li>
                </ul>

                <ul class="videos-list videos-rate-tab">
                    <li>
                        <div class="movie-card">

                            <a href="./movie-details.html">
                                <figure class="card-banner">
                                    <img src="./assets/images/upcoming-1.png" alt="The Northman movie poster">
                                </figure>
                            </a>

                            <div class="title-wrapper">
                                <a href="./movie-details.html">
                                    <h3 class="card-title">The Northman</h3>
                                </a>

                                <div class="badge badge-outline">HD</div>
                            </div>

                            <div class="card-meta">
                                <div class="duration">
                                    <ion-icon name="time-outline"></ion-icon>

                                    <time datetime="PT137M">137 min</time>
                                </div>

                                <div class="rating">
                                    <ion-icon name="star"></ion-icon>

                                    <data>8.5</data>
                                </div>
                            </div>

                        </div>
                    </li>

                    <li>
                        <div class="movie-card">

                            <a href="./movie-details.html">
                                <figure class="card-banner">
                                    <img src="./assets/images/upcoming-1.png" alt="The Northman movie poster">
                                </figure>
                            </a>

                            <div class="title-wrapper">
                                <a href="./movie-details.html">
                                    <h3 class="card-title">The Northman</h3>
                                </a>

                                <div class="badge badge-outline">HD</div>
                            </div>

                            <div class="card-meta">
                                <div class="duration">
                                    <ion-icon name="time-outline"></ion-icon>

                                    <time datetime="PT137M">137 min</time>
                                </div>

                                <div class="rating">
                                    <ion-icon name="star"></ion-icon>

                                    <data>8.5</data>
                                </div>
                            </div>

                        </div>
                    </li>

                    <li>
                        <div class="movie-card">

                            <a href="./movie-details.html">
                                <figure class="card-banner">
                                    <img src="./assets/images/upcoming-1.png" alt="The Northman movie poster">
                                </figure>
                            </a>

                            <div class="title-wrapper">
                                <a href="./movie-details.html">
                                    <h3 class="card-title">The Northman</h3>
                                </a>

                                <div class="badge badge-outline">HD</div>
                            </div>

                            <div class="card-meta">
                                <div class="duration">
                                    <ion-icon name="time-outline"></ion-icon>

                                    <time datetime="PT137M">137 min</time>
                                </div>

                                <div class="rating">
                                    <ion-icon name="star"></ion-icon>

                                    <data>8.5</data>
                                </div>
                            </div>

                        </div>
                    </li>

                    <li>
                        <div class="movie-card">

                            <a href="./movie-details.html">
                                <figure class="card-banner">
                                    <img src="./assets/images/upcoming-1.png" alt="The Northman movie poster">
                                </figure>
                            </a>

                            <div class="title-wrapper">
                                <a href="./movie-details.html">
                                    <h3 class="card-title">The Northman</h3>
                                </a>

                                <div class="badge badge-outline">HD</div>
                            </div>

                            <div class="card-meta">
                                <div class="duration">
                                    <ion-icon name="time-outline"></ion-icon>

                                    <time datetime="PT137M">137 min</time>
                                </div>

                                <div class="rating">
                                    <ion-icon name="star"></ion-icon>

                                    <data>8.5</data>
                                </div>
                            </div>

                        </div>
                    </li>
                </ul>

            </div>
        </section>
        <!-- contact -->
        <section class="cta" th:replace="user_fragments::contact"></section>
    </article>
</main>

<footer class="footer" th:replace="user_fragments::footer"></footer>

<a th:replace="user_fragments::back-to-top"></a>

<div th:replace="user_fragments::script"></div>

<script>
    function changeTabNewRelease(tabId, button) {
        var buttons = document.querySelectorAll('.filter-btn');
        buttons.forEach(function(btn) {
            btn.classList.remove('active');
        });

        button.classList.add('active');

        var movieList = document.querySelector('.movies-release-tab');
        var videoList = document.querySelector('.videos-release-tab');

        if (tabId === 'moviesReleaseTab') {
            movieList.style.display = 'flex';
            videoList.style.display = 'none';
        } else if (tabId === 'videosReleaseTab') {
            movieList.style.display = 'none';
            videoList.style.display = 'flex';
        }
    }
</script>

<script>
    function changeTabTopRate(tabId, button) {
        var buttons = document.querySelectorAll('.filter-btn');
        buttons.forEach(function(btn) {
            btn.classList.remove('active');
        });

        button.classList.add('active');

        var movieList = document.querySelector('.movies-rate-tab');
        var videoList = document.querySelector('.videos-rate-tab');

        if (tabId === 'moviesRateTab') {
            movieList.style.display = 'grid';
            videoList.style.display = 'none';
        } else if (tabId === 'videosRateTab') {
            movieList.style.display = 'none';
            videoList.style.display = 'grid';
        }
    }
</script>

</body>

</html>
