<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="user_fragments::head"></head>

<body>
<!-- header Start -->
<header th:replace="user_fragments::header" class="header" data-header></header>
<!-- header End -->

<main>
    <article>
        <!-- banner -->
        <section class="hero" th:replace="user_fragments::banner"></section>

        <!-- content-->
        <section class="upcoming" style="padding: 30px" th:each="category : ${categoriesWithMedia}"
                 th:if="${category.getType() == 1}">
            <div class="container">
                <div class="flex-wrapper">
                    <div class="title-wrapper">
                        <p class="section-subtitle">Online Streaming</p>

                        <h2 class="h2 section-title" th:text="${category.getName()}"></h2>
                    </div>
                    <a href="#">
                        <p style="color: aliceblue">View all > </p>
                    </a>
                </div>

                <ul class="movies-list has-scrollbar">
                    <li th:each="media : ${category.media}">
                        <div class="movie-card">

                            <a href="">
                                <figure class="card-banner">
                                    <img th:src="${media.getThumbnail()}">
                                </figure>
                            </a>

                            <div class="title-wrapper">
                                <a href="">
                                    <h3 class="card-title align-content-center" th:text="${media.getTitle()}"></h3>
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <!-- end content-->

        <!-- contact -->
        <section class="cta" th:replace="user_fragments::contact"></section>
    </article>
</main>

<footer class="footer" th:replace="user_fragments::footer"></footer>

<a th:replace="user_fragments::back-to-top"></a>

<div th:replace="user_fragments::script"></div>

</body>

</html>
