<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="user_fragments::head"></head>

<body>
<!-- header Start -->
<header th:replace="user_fragments::header" class="header" data-header></header>
<!-- header End -->

<main>
    <article>
        <!-- banner -->
        <section class="hero" th:replace="user_fragments::banner"></section>

        <!-- content-->
        <section class="upcoming" style="padding-top: 50px">
            <div class="container">

                <div class="flex-wrapper">
                    <div class="title-wrapper">
                        <p class="section-subtitle">Online Streaming</p>

                        <h2 class="h2 section-title">New release</h2>
                    </div>

                    <ul class="filter-list">
                        <li>
                            <button class="filter-btn" onclick="changeTabNewRelease('moviesReleaseTab', this)">Movies</button>
                        </li>

                        <li>
                            <button class="filter-btn" onclick="changeTabNewRelease('videosReleaseTab', this)">Videos</button>
                        </li>
                    </ul>
                </div>

                <ul class="movies-list movies-release-tab has-scrollbar">
                    <li th:each="releaseMedia : ${releaseMediaList}" th:if="${releaseMedia.getMedia().getType() == 1 || releaseMedia.getMedia().getType() == 3}">
                        <div class="movie-card">
                            <a th:href="@{/movie/detail/{mediaId} (mediaId=${releaseMedia.media.id})}">
                                <figure class="card-banner">
                                    <img
                                         th:src="${releaseMedia.getMedia().getThumbnail()}">
                                </figure>
                            </a>

                            <div class="title-wrapper">
                                <a th:href="@{/movie/detail/{mediaId} (mediaId=${releaseMedia.media.id})}">
                                    <h3 class="card-title" th:text="${releaseMedia.getMedia().getTitle()}"></h3>
                                </a>


                                <div class="badge badge-outline" th:text="${releaseMedia.getQuality()}"></div>
                            </div>

                            <div class="card-meta">
                                <div class="duration">
                                    <ion-icon name="time-outline"></ion-icon>

                                    <time th:text="${releaseMedia.getDuration()}"></time>
                                </div>

                                <div class="rating">
                                    <ion-icon name="star"></ion-icon>

                                    <data th:text="${releaseMedia.getRate()}"></data>
                                </div>
                            </div>

                        </div>
                    </li>
                </ul>

                <ul class="videos-list videos-release-tab has-scrollbar">
                    <li th:each="releaseMedia : ${releaseMediaList}" th:if="${releaseMedia.getMedia().getType() == 2}">
                        <div class="movie-card" style="width: 250px;">
                            <a href="">
                                <figure class="card-banner" style="aspect-ratio: 5/3;">
                                    <img th:src="${releaseMedia.getMedia().getThumbnail()}">
                                </figure>
                            </a>

                            <div class="title-wrapper">
                                <a href="">
                                    <h3 class="card-title" th:text="${releaseMedia.getMedia().getTitle()}"></h3>
                                </a>

                                <div class="badge badge-outline" th:text="${releaseMedia.getQuality()}"></div>
                            </div>

                            <div class="card-meta">
                                <div class="duration">
                                    <ion-icon name="time-outline"></ion-icon>

                                    <time th:text="${releaseMedia.getDuration()}"></time>
                                </div>

                                <div class="rating">
                                    <ion-icon name="star"></ion-icon>

                                    <data th:text="${releaseMedia.getRate() + '.0'}"></data>
                                </div>
                            </div>

                        </div>
                    </li>
                </ul>
            </div>
        </section>

        <section class="top-rated" style="padding-top: 50px; padding-bottom: 150px">
            <div class="container">

                <p class="section-subtitle">Online Streaming</p>

                <h2 class="h2 section-title">Top Rated Movies</h2>

                <ul class="filter-list">

                    <li>
                        <button class="filter-btn" onclick="changeTabTopRate('moviesRateTab', this)">Movies</button>
                    </li>

                    <li>
                        <button class="filter-btn" onclick="changeTabTopRate('videosRateTab', this)">Videos</button>
                    </li>

                </ul>

                <ul class="movies-list movies-rate-tab">
                    <li th:each="topRatedMedia : ${topRatedMediaList}"
                         th:if="${topRatedMedia.getMedia().getType() == 1 || topRatedMedia.getMedia().getType() == 3}">
                        <div class="movie-card">

                            <a href="">
                                <figure class="card-banner">
                                    <img th:src="${topRatedMedia.getMedia().getThumbnail()}">
                                </figure>
                            </a>

                            <div class="title-wrapper">
                                <a href="">
                                    <h3 class="card-title" th:text="${topRatedMedia.getMedia().getTitle()}"></h3>
                                </a>

                                <div class="badge badge-outline" th:text="${topRatedMedia.getQuality()}"></div>
                            </div>

                            <div class="card-meta">
                                <div class="duration">
                                    <ion-icon name="time-outline"></ion-icon>

                                    <time th:text="${topRatedMedia.getDuration()}"></time>
                                </div>

                                <div class="rating">
                                    <ion-icon name="star"></ion-icon>

                                    <data th:text="${topRatedMedia.getRate()}"></data>
                                </div>
                            </div>

                        </div>
                    </li >
                </ul>

                <ul class="videos-list videos-rate-tab">
                    <li  th:each="topRatedMedia : ${topRatedMediaList}" th:if="${topRatedMedia.getMedia().getType() == 2}">
                        <div class="movie-card">

                            <a href="">
                                <figure class="card-banner">
                                    <img th:src="${topRatedMedia.getMedia().getThumbnail()}">
                                </figure>
                            </a>

                            <div class="title-wrapper">
                                <a href="">
                                    <h3 class="card-title" th:text="${topRatedMedia.getMedia().getTitle()}"></h3>
                                </a>

                                <div class="badge badge-outline" th:text="${topRatedMedia.getQuality()}"></div>
                            </div>

                            <div class="card-meta">
                                <div class="duration">
                                    <ion-icon name="time-outline"></ion-icon>

                                    <time th:text="${topRatedMedia.getDuration()}"></time>
                                </div>

                                <div class="rating">
                                    <ion-icon name="star"></ion-icon>

                                    <data th:text="${topRatedMedia.getRate()}"></data>
                                </div>
                            </div>

                        </div>
                    </li >
                </ul>

            </div>
        </section>
        <!-- end content-->

        <!-- contact -->
        <section class="cta" th:replace="user_fragments::contact"></section>
    </article>
</main>

<footer class="footer" th:replace="user_fragments::footer"></footer>

<a th:replace="user_fragments::back-to-top"></a>

<div th:replace="user_fragments::script"></div>

<script>
    function changeTabNewRelease(tabId, button) {
        var buttons = document.querySelectorAll('.filter-btn');
        buttons.forEach(function(btn) {
            btn.classList.remove('active');
        });

        button.classList.add('active');

        var movieList = document.querySelector('.movies-release-tab');
        var videoList = document.querySelector('.videos-release-tab');

        if (tabId === 'moviesReleaseTab') {
            movieList.style.display = 'flex';
            videoList.style.display = 'none';
        } else if (tabId === 'videosReleaseTab') {
            movieList.style.display = 'none';
            videoList.style.display = 'flex';
        }
    }
</script>

<script>
    function changeTabTopRate(tabId, button) {
        var buttons = document.querySelectorAll('.filter-btn');
        buttons.forEach(function(btn) {
            btn.classList.remove('active');
        });

        button.classList.add('active');

        var movieList = document.querySelector('.movies-rate-tab');
        var videoList = document.querySelector('.videos-rate-tab');

        if (tabId === 'moviesRateTab') {
            movieList.style.display = 'grid';
            videoList.style.display = 'none';
        } else if (tabId === 'videosRateTab') {
            movieList.style.display = 'none';
            videoList.style.display = 'grid';
        }
    }
</script>

</body>

</html>
