<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="user_fragments::head"></head>

<style>
    .close-btn {
        position: absolute;
        top: 7px;
        right: 7px;
        color: #fff;
        font-size: 24px;
        cursor: pointer;
    }

    .youtube-overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        justify-content: center;
        align-items: center;
        z-index: 999;
    }

    .youtube-popup {
        position: relative;
        max-width: 800px;
        max-height: 70vh;
        width: 100%;
        height: 100%;
    }

    .youtube-popup iframe {
        width: 100%;
        height: 100%;
    }

    .activeVideo {
        display: flex;
    }
</style>

<body>
<!-- header Start -->
<header th:replace="user_fragments::header" class="header" data-header></header>
<!-- header End -->

<main>
    <article>
        <!-- content-->
        <section class="movie-detail">
            <div class="container">
                <figure class="movie-detail-banner" onclick="showVideoPopup()"
                        th:style="${(selectedMediaDetail.mediaType == 3) ? 'height: 33vh; max-width: 400px;' : ''}">
                    <img style="width: 100%" th:src="@{${selectedMediaDetail.thumbnail}}">
                    <button class="play-btn">
                        <ion-icon name="play-circle-outline"></ion-icon>
                    </button>
                </figure>

                <!--pop-up video show-->
                <div class="youtube-overlay" id="videoOverlay" onclick="closeVideoPopup()">
                    <div class="youtube-popup">
                        <span class="close-btn" onclick="closeVideoPopup()">&times;</span>
                        <!--sourceUrl-->
                        <iframe
                                th:src="${selectedMediaDetail.sourceUrl}"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write;
                                encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen>
                        </iframe>
                    </div>
                </div>

                <div class="movie-detail-content" th:style="${(selectedMediaDetail.mediaType == 3) ? 'max-width: 700px;' : ''}">
                    <div class="badge-wrapper">
                        <p class="badge badge-outline" style="margin: 0 10px 10px 0"
                           th:text="${selectedMediaDetail.quality}"
                           th:unless="${selectedMediaDetail.mediaType == 3}"></p>
                        <p class="detail-subtitle"
                           th:text="${selectedMediaDetail.episode == null ? '' : ('Episode ' + selectedMediaDetail.episode)}"></p>
                    </div>

                    <h3 class="h2 detail-title" th:text="${selectedMediaDetail.title}"></h3>

                    <div class="meta-wrapper">
                        <div class="genre-wrapper" >
                            <h4 style="color:var(--citrine); font-weight: bold">Categories:</h4>
                            <a th:each="category, iterStat : ${selectedMediaDetail.categoryList}"
                                th:text="${category.name + (iterStat.last ? '' : ', ')}"
                                th:href="@{'/media/by-category/' + ${category.categoryId}}"></a>
                        </div>

                        <th:block class="info-video" th:if="${selectedMediaDetail.mediaType == 3}">
                            <div class="badge-wrapper">
                                <p class="badge badge-outline" th:text="${selectedMediaDetail.quality}"></p>
                            </div>

                            <div class="date-time">
                                <div style="font-size: 15px">
                                    <ion-icon name="time-outline"></ion-icon>
                                    <time th:text="${selectedMediaDetail.duration}"></time>
                                </div>
                            </div>

                            <span class="rating-detail"
                                  th:utext="${'&#9733;'.repeat(selectedMediaDetail.rating)}"></span>
                        </th:block>

                        <div class="genre-wrapper" th:unless="${selectedMediaDetail.mediaType == 3}">
                            <h4 style="color:var(--citrine); font-weight: bold">Directors:</h4>
                            <a th:each="cast, iterStat : ${selectedMediaDetail.castList}"
                               th:if="${cast.type == 1}"
                               th:text="${cast.fullName + (iterStat.last ? '' : ', ')}"
                               th:href="@{'/media/by-cast/' + ${cast.castId}}"></a>
                        </div>

                        <div class="genre-wrapper" th:unless="${selectedMediaDetail.mediaType == 3}">
                            <h4 style="color:var(--citrine); font-weight: bold">Actors:</h4>
                            <a th:each="cast, iterStat : ${selectedMediaDetail.castList}"
                               th:if="${cast.type == 2}"
                               th:text="${cast.fullName + (iterStat.last ? '' : ', ')}"
                               th:href="@{'/media/by-cast/' + ${cast.castId}}"></a>
                        </div>

                        <div class="date-time" th:unless="${selectedMediaDetail.mediaType == 3}">
                            <div style="font-size: 15px">
                                <ion-icon name="earth-outline"></ion-icon>

                                <a class="country-detail" th:text="${selectedMediaDetail.countryName}" style="color: #e3dede"
                                   th:href="@{'/media/by-country/' + ${selectedMediaDetail.countryId}}"/>
                            </div>

                            <div style="font-size: 15px">
                                <ion-icon name="time-outline"></ion-icon>
                                <time style="color: var(--gainsboro);" th:text="${selectedMediaDetail.duration}"></time>
                            </div>

                            <span class="rating-detail"
                                  th:utext="${'&#9733;'.repeat(selectedMediaDetail.rating)}"></span>
                        </div>
                    </div>

                    <p th:text="${selectedMediaDetail.mediaDescription}" class="storyline"
                       th:style="${(selectedMediaDetail.mediaType == 3) ? 'line-height: 1; margin-bottom: 30px;' : ''}">/>

                    <div class="details-actions">

                        <button class="share">
                            <ion-icon name="share-social"></ion-icon>

                            <span>Share</span>
                        </button>

                        <div class="title-wrapper">
                            <p class="title">Prime Video</p>

                            <p class="text">Streaming Channels</p>
                        </div>

                        <button class="btn btn-primary" onclick="showVideoPopup()">
                            <ion-icon name="play"></ion-icon>

                            <span>Watch Now</span>
                        </button>

                    </div>

                    <a href=".././static/user/assets/images/movie-4.png" download class="download-btn">
                        <span>Download</span>

                        <ion-icon name="download-outline"></ion-icon>
                    </a>
                </div>
            </div>
        </section>

        <!-- end content-->
        <section class="top-rated tv-series" style="padding-top: 50px; padding-bottom: 150px">
            <div class="container">

                <p class="section-subtitle">Coming soon</p>

                <h2 class="h2 section-title">Related information</h2>

                <ul class="filter-list" th:if="${#lists.size(listMediaDetails) > 1}">
                    <li>
                        <button class="filter-btn" onclick="changeTabTopRate('moviesRateTab', this)">Episodes</button>
                    </li>

                    <li>
                        <button class="filter-btn" onclick="changeTabTopRate('videosRateTab', this)">Similar</button>
                    </li>

                </ul>

                <!--Episodes-->
                <div>
                    <ul class="movies-list movies-rate-tab" th:if="${#lists.size(listMediaDetails) > 1}">
                        <li th:each="mediaDetail : ${listMediaDetails}">
                            <div class="movie-card">
                                <a th:href="@{'/movie/detail/' + ${mediaDetail.id} + '?episode=' + ${mediaDetail.episode}}">
                                    <figure class="card-banner">
                                        <img th:src="@{${mediaDetail.thumbnail}}">
                                    </figure>
                                </a>

                                <div class="title-wrapper">
                                    <a href="">
                                        <h3 class="card-title" th:text="${mediaDetail.title}"></h3>
                                    </a>

                                    <div class="badge badge-outline" th:text="${mediaDetail.quality}"></div>
                                </div>

                                <div class="card-meta" style="gap: 5px">
                                    <div class="episode" th:if="${mediaDetail.episode != null}">
                                        <ion-icon name="film-outline"></ion-icon>

                                        <data th:text="${'Episode ' + '0' + mediaDetail.episode}"></data>
                                    </div>

                                    <div class="duration">
                                        <ion-icon name="time-outline"></ion-icon>

                                        <time th:text="${mediaDetail.duration}"></time>
                                    </div>

                                    <div class="rating">
                                        <ion-icon name="star"></ion-icon>

                                        <data th:text="${mediaDetail.rating}"></data>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>

                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-7 text-center">
                        <div class="custom-pagination">
                    <span class="ml-2" th:if="${totalPages > 1}" th:each="i: ${#numbers.sequence(1, totalPages)}">
                        <a class="color-red" th:if="${currentPage != i}" th:href="@{'/movie/detail/' + ${mediaId} + ${i} (mediaId=${selectedMediaDetail.mediaID})}"  th:text="${i}"
                           style="background-color: white; color: #ca0f33"></a>
                        <span th:unless="${currentPage != i}" th:text="${i}"
                              style="background-color: #ca0f33; color: white"></span>
                    </span>
                        </div>
                    </div>
                </div>
                <!--Similar-->
                <ul class="videos-list videos-rate-tab"
                    th:style="${(#lists.size(listMediaDetails) > 1) ? '' : 'display: flex;'}">

                    <li th:each="relatedMedia : ${relatedMediaList}">
                        <div class="movie-card">

                            <th:block th:if="${selectedMediaDetail.mediaType == 3}">
                                <a th:href="@{/video/detail/{mediaId} (mediaId=${relatedMedia.id})}">
                                    <figure class="card-banner" style="aspect-ratio: 5 / 3;">
                                        <img th:src="@{${relatedMedia.thumbnail}}">
                                    </figure>
                                </a>

                                <div class="title-wrapper">
                                    <a th:href="@{/video/detail/{mediaId} (mediaId=${relatedMedia.id})}">
                                        <h3 class="card-title align-content-center" th:text="${relatedMedia.title}"></h3>
                                    </a>
                                </div>
                            </th:block>

                            <th:block th:unless="${selectedMediaDetail.mediaType == 3}">
                                <a th:href="@{/movie/detail/{mediaId} (mediaId=${relatedMedia.id})}">
                                    <figure class="card-banner">
                                        <img th:src="@{${relatedMedia.thumbnail}}">
                                    </figure>
                                </a>

                                <div class="title-wrapper">
                                    <a th:href="@{/movie/detail/{mediaId} (mediaId=${relatedMedia.id})}">
                                        <h3 class="card-title align-content-center" th:text="${relatedMedia.title}"></h3>
                                    </a>
                                </div>
                            </th:block>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <!-- contact -->
        <section class="cta" th:replace="user_fragments::contact"></section>
    </article>
</main>

<footer class="footer" th:replace="user_fragments::footer"></footer>

<a th:replace="user_fragments::back-to-top"></a>

<div th:replace="user_fragments::script"></div>

<script>
    function changeTabNewRelease(tabId, button) {
        var buttons = document.querySelectorAll('.filter-btn');
        buttons.forEach(function(btn) {
            btn.classList.remove('active');
        });

        button.classList.add('active');

        var movieList = document.querySelector('.movies-release-tab');
        var videoList = document.querySelector('.videos-release-tab');

        if (tabId === 'moviesReleaseTab') {
            movieList.style.display = 'flex';
            videoList.style.display = 'none';
        } else if (tabId === 'videosReleaseTab') {
            movieList.style.display = 'none';
            videoList.style.display = 'flex';
        }
    }
</script>

<script>
    function changeTabTopRate(tabId, button) {
        var buttons = document.querySelectorAll('.filter-btn');
        buttons.forEach(function(btn) {
            btn.classList.remove('active');
        });

        button.classList.add('active');

        var movieList = document.querySelector('.movies-rate-tab');
        var videoList = document.querySelector('.videos-rate-tab');

        if (tabId === 'moviesRateTab') {
            movieList.style.display = 'grid';
            videoList.style.display = 'none';
        } else if (tabId === 'videosRateTab') {
            movieList.style.display = 'none';
            videoList.style.display = 'grid';
        }
    }
</script>

<script>
    function showVideoPopup() {
        var videoOverlay = document.getElementById("videoOverlay");
        videoOverlay.classList.add("activeVideo");
    }

    function closeVideoPopup() {
        var videoOverlay = document.getElementById("videoOverlay");
        videoOverlay.classList.remove("activeVideo");
    }

    // Prevent closing when clicking inside the popup
    document.querySelector('.youtube-popup').addEventListener('click', function(event) {
        event.stopPropagation();
    });
</script>

</body>

</html>
