<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title th:text="${title}"></title>

  <link rel="shortcut icon" th:href="@{/user/favicon.svg}" type="image/svg+xml">

  <!-- custom css link-->
  <link rel="stylesheet" th:href="@{/user/assets/css/style.css}">

  <!-- google font link-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>

<!--header start-->
<header th:fragment="header" class="header" data-header>
  <div class="container">

    <div class="overlay" data-overlay></div>

    <a th:href="@{/home}" class="logo">
      <img th:src="@{/user/assets/images/logo.png}" alt="Media360 logo">
    </a>

    <div class="header-actions">
      <div class="search-container">
        <div class="search-wrapper">
          <input type="text" class="search-input" placeholder="search...">
          <button class="search-btn" type="submit">
            <ion-icon name="search-outline"></ion-icon>
          </button>
        </div>
      </div>

      <div class="lang-wrapper">
        <label for="language">
          <ion-icon name="globe-outline"></ion-icon>
        </label>

        <select name="language" id="language">
          <option value="en">EN</option>
          <option value="au">VN</option>
        </select>
      </div>

      <!--<a th:href="@{/login}">
        <button class="btn btn-primary">Sign in</button>
      </a>-->

      <div class="nav-item dropdown" id="userDropdown">
        <a href="#" class="nav-link dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" onclick="toggleDropdown()">
        <span>
            <i class="fa fa-user-circle user-icon"></i>
        </span>
        </a>
        <div class="dropdown-menu" id="userDropdownMenu">
          <!-- Các mục trong dropdown menu -->
          <a class="dropdown-item" href="#">
            <i class="fa fa-user"></i>
            Hello, Xuan Thao
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" th:href="@{/logout}">
            <span class="logout">
              <i class="fa fa-arrow-right"></i> Logout
            </span>
          </a>
        </div>
      </div>




    </div>

    <button class="menu-open-btn" data-menu-open-btn>
      <ion-icon name="reorder-two"></ion-icon>
    </button>

    <nav class="navbar" data-navbar>
      <div class="navbar-top">
        <a th:href="@{/home}" class="logo">
          <img th:src="@{/user/assets/images/logo.png}" alt="Media360 logo">
        </a>

        <button class="menu-close-btn" data-menu-close-btn>
          <ion-icon name="close-outline"></ion-icon>
        </button>
      </div>

      <ul class="navbar-list">
        <li class="nav-item nav-link">
          <a th:href="@{/home}" class="navbar-link" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/home') ? 'active' : ''}">Home</a>
        </li>

        <li class="nav-item nav-link">
          <a th:href="@{/movies}" class="navbar-link" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/movies') ? 'active' : ''}">Movies</a>
        </li>

        <li class="nav-item nav-link">
          <a th:href="@{/videos}" class="navbar-link" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/videos') ? 'active' : ''}">Videos</a>
        </li>
      </ul>
    </nav>

  </div>
</header>
<!--header end-->

<!--banner-->
<section class="hero" th:fragment="banner">
  <div class="container">

    <div class="hero-content">

      <p class="hero-subtitle">Media360</p>

      <h1 class="h1 hero-title">
        Unlimited <strong>Movie</strong>, <strong>Videos</strong>, & More.
      </h1>

      <div class="meta-wrapper">

        <div class="badge-wrapper">
          <div class="badge badge-fill">PG 18</div>

          <div class="badge badge-outline">2D</div>
          <div class="badge badge-outline">4K</div>
          <div class="badge badge-outline">6K</div>
          <div class="badge badge-outline">8K</div>
        </div>

        <div class="ganre-wrapper">
          <a href="#">Action,</a>
          <a href="#">Comedy,</a>
          <a href="#">Thrillers,</a>
          <a href="#">Series,</a>
          <a href="#">Cartoons,...</a>
        </div>
      </div>

      <button class="btn btn-primary">
        <ion-icon name="play"></ion-icon>

        <span>Update everyday</span>
      </button>

    </div>

  </div>
</section>
<!--end banner-->

<!-- contact -->
<section class="cta" th:fragment="contact">
  <div class="container">

    <div class="title-wrapper">
      <h2 class="cta-title">Get the latest information.</h2>

      <p class="cta-text">
        Enter your email to receive the latest information from us. Thank you!
      </p>
    </div>

    <form action="" class="cta-form">
      <input type="email" name="email" required placeholder="Enter your email" class="email-field">

      <button type="submit" class="cta-form-btn">Get started</button>
    </form>

  </div>
</section>
<!-- end contact -->

<!--footer-->
<footer class="footer" th:fragment="footer">

  <div class="footer-top">
    <div class="container">

      <div class="footer-brand-wrapper">

        <a th:href="@{/home}" class="logo">
          <img th:src="@{/user/assets/images/logo.png}" alt="Media360 logo">
        </a>

        <ul class="footer-list">

          <li>
            <a th:href="@{/home}" class="footer-link">Home</a>
          </li>

          <li>
            <a th:href="@{/movies}" class="footer-link">Movies</a>
          </li>

          <li>
            <a th:href="@{/videos}" class="footer-link">Videos</a>
          </li>

        </ul>

      </div>

      <div class="divider"></div>

      <div class="quicklink-wrapper">

        <ul class="quicklink-list">

          <li>
            <a href="#" class="quicklink-link">Faq</a>
          </li>

          <li>
            <a href="#" class="quicklink-link">Help center</a>
          </li>

          <li>
            <a href="#" class="quicklink-link">Terms of use</a>
          </li>

          <li>
            <a href="#" class="quicklink-link">Privacy</a>
          </li>

        </ul>

        <ul class="social-list">

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-pinterest"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a>
          </li>

        </ul>

      </div>

    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">

      <p class="copyright">
        &copy; 2023 <a href="#">LeCeng-XuanThao</a>. All Rights Reserved
      </p>

      <img th:src="@{/user/assets/images/footer-bottom-img.png}" alt="Online banking companies logo" class="footer-bottom-img">

    </div>
  </div>

</footer>
<!--end footer-->

<!--#GO TO TOP-->
<a href="#top" class="go-top" data-go-top th:fragment="back-to-top">
  <ion-icon name="chevron-up"></ion-icon>
</a>
<!--END GO TO TOP-->

<div th:fragment="script">
  <!-- custom js link-->
  <script th:src="@{/user/assets/js/script.js}"></script>

  <!-- icon link-->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</div>

<script>
  function toggleDropdown() {
    var dropdownMenu = document.getElementById("userDropdownMenu");
    dropdownMenu.style.display = (dropdownMenu.style.display === "none" || dropdownMenu.style.display === "") ? "block" : "none";
  }
</script>

</body>
</html>