<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="user_fragments::head"></head>

<body>
<!-- header Start -->
<header th:replace="user_fragments::header" class="header" data-header></header>
<!-- header End -->

<main>
    <article>
        <!-- content-->
        <div class="fix-bg-search">
            <section class="upcoming">
                <div class="container">
                    <h2 class="h2 search-result">
                        Search results for
                        <span style="display: inline-flex; font-weight: bold; color: rgb(226, 215, 3)">
                            "Fart & Furious"
                        </span>
                    </h2>
                </div>

                <div class="container">
                    <div class="align-content-center">
                        <p class="section-subtitle">Online Streaming</p>

                        <h2 class="h2 section-title" style="margin-bottom: 7vh; font-size: 40px;">
                            Movies Type
                        </h2>
                    </div>

                    <ul class="movies-list has-scrollbar">
                        <li>
                            <div class="movie-card">
                                <a href="./movie-details.html">
                                    <figure class="card-banner">
                                        <img src="./assets/images/movie-1.png" alt="Sonic the Hedgehog 2 movie poster">
                                    </figure>
                                </a>

                                <div class="title-wrapper">
                                    <a href="./movie-details.html">
                                        <h3 class="card-title">Sonic the Hedgehog 2</h3>
                                    </a>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="movie-card">
                                <a href="./movie-details.html">
                                    <figure class="card-banner">
                                        <img src="./assets/images/movie-1.png" alt="Sonic the Hedgehog 2 movie poster">
                                    </figure>
                                </a>

                                <div class="title-wrapper">
                                    <a href="./movie-details.html">
                                        <h3 class="card-title">Sonic the Hedgehog 2</h3>
                                    </a>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="movie-card">
                                <a href="./movie-details.html">
                                    <figure class="card-banner">
                                        <img src="./assets/images/movie-1.png" alt="Sonic the Hedgehog 2 movie poster">
                                    </figure>
                                </a>

                                <div class="title-wrapper">
                                    <a href="./movie-details.html">
                                        <h3 class="card-title">Sonic the Hedgehog 2</h3>
                                    </a>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="movie-card">
                                <a href="./movie-details.html">
                                    <figure class="card-banner">
                                        <img src="./assets/images/movie-1.png" alt="Sonic the Hedgehog 2 movie poster">
                                    </figure>
                                </a>

                                <div class="title-wrapper">
                                    <a href="./movie-details.html">
                                        <h3 class="card-title">Sonic the Hedgehog 2</h3>
                                    </a>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="movie-card">
                                <a href="./movie-details.html">
                                    <figure class="card-banner">
                                        <img src="./assets/images/movie-1.png" alt="Sonic the Hedgehog 2 movie poster">
                                    </figure>
                                </a>

                                <div class="title-wrapper">
                                    <a href="./movie-details.html">
                                        <h3 class="card-title">Sonic the Hedgehog 2</h3>
                                    </a>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="movie-card">
                                <a href="./movie-details.html">
                                    <figure class="card-banner">
                                        <img src="./assets/images/movie-1.png" alt="Sonic the Hedgehog 2 movie poster">
                                    </figure>
                                </a>

                                <div class="title-wrapper">
                                    <a href="./movie-details.html">
                                        <h3 class="card-title">Sonic the Hedgehog 2</h3>
                                    </a>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="movie-card">
                                <a href="./movie-details.html">
                                    <figure class="card-banner">
                                        <img src="./assets/images/movie-1.png" alt="Sonic the Hedgehog 2 movie poster">
                                    </figure>
                                </a>

                                <div class="title-wrapper">
                                    <a href="./movie-details.html">
                                        <h3 class="card-title">Sonic the Hedgehog 2</h3>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <!--nếu có-->
                <div class="container">
                    <div class="align-content-center">
                        <p class="section-subtitle">Online Streaming</p>

                        <h2 class="h2 section-title" style="margin-bottom: 7vh; font-size: 40px;">
                            Videos Type
                        </h2>
                    </div>

                    <ul class="movies-list has-scrollbar">
                        <li>
                            <div class="movie-card">
                                <a href="./movie-details.html">
                                    <figure class="card-banner">
                                        <img src="./assets/images/movie-1.png" alt="Sonic the Hedgehog 2 movie poster">
                                    </figure>
                                </a>

                                <div class="title-wrapper">
                                    <a href="./movie-details.html">
                                        <h3 class="card-title">Sonic the Hedgehog 2</h3>
                                    </a>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="movie-card">
                                <a href="./movie-details.html">
                                    <figure class="card-banner">
                                        <img src="./assets/images/movie-1.png" alt="Sonic the Hedgehog 2 movie poster">
                                    </figure>
                                </a>

                                <div class="title-wrapper">
                                    <a href="./movie-details.html">
                                        <h3 class="card-title">Sonic the Hedgehog 2</h3>
                                    </a>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="movie-card">
                                <a href="./movie-details.html">
                                    <figure class="card-banner">
                                        <img src="./assets/images/movie-1.png" alt="Sonic the Hedgehog 2 movie poster">
                                    </figure>
                                </a>

                                <div class="title-wrapper">
                                    <a href="./movie-details.html">
                                        <h3 class="card-title">Sonic the Hedgehog 2</h3>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <!-- end content-->

        <!-- contact -->
        <section class="cta" th:replace="user_fragments::contact"></section>
    </article>
</main>

<footer class="footer" th:replace="user_fragments::footer"></footer>

<a th:replace="user_fragments::back-to-top"></a>

<div th:replace="user_fragments::script"></div>

</body>

</html>
